.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
}

.App-cover {
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  color: white;
}

.App-body {
  flex: 4;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-payment {
  display: flex;
  flex-direction: row;
}

.App-payment-form-part {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex: 1;
}

.form-group .form-control {
  padding: 5px;
  font-size: 15px;
}
